{
  "extends": [
    "stylelint-config-standard"
  ],
  "processors": [
    "stylelint-processor-html"
  ],
  "defaultSeverity": "error",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "rule-empty-line-before": null,
    "no-empty-source": null,
    "indentation": 2,
    "at-rule-no-unknown": [
      true,
      {
        "severity": "warning",
        "ignoreAtRules": [
          "function",
          "extend",
          "return",
          "mixin",
          "include"
        ]
      }
    ],
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-function-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension-blacklist": [
      "scss"
    ],
    "scss/at-mixin-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-pattern": "^[_]?[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/percent-placeholder-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/selector-no-redundant-nesting-selector": true,
    "selector-type-no-unknown": null,
    "color-hex-length": "long"
  }
}
